$heading-text-color: #00155c;
$text-color: #343a40;
$btn-bg-color: #ef3f4c;
$text-white: #ffffff;
$section-bg-color: #f5f5f5;

body {
  font-family: "Mulish", sans-serif;
}

.container {
  width: calc(100% - 160px);
  padding: 0 80px;
}

.heading-section {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1.125;
  color: $heading-text-color;
  font-weight: 400;
}

@font-face {
  font-family: Mulish;
  src: url(./font/static/Mulish-Medium.ttf);
}

.btn {
  border-radius: 24px;
  height: 36px;
  width: 180px;
  border: none;
  cursor: pointer;
}

header {
  .header_wp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    ul {
      display: flex;
      padding-left: 0;
      margin-left: 0;

      li {
        margin-right: 15px;

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $text-color;
          font-size: 0.875rem;
          line-height: 1.3;

          &:hover {
            color: $btn-bg-color;
          }

          &.active {
            color: $btn-bg-color;
          }
        }
      }

      list-style: none;
    }
  }
}

.slider {
  color: $text-white;

  .slider-item {
    position: relative;

    img {
      width: 100%;
      max-height: 756px;
    }

    .btn_slider {
      background-color: $btn-bg-color;
      color: $text-white;
      text-transform: uppercase;
    }
  }

  .slide_content {
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 80px;
  }

  ul.slick-dots {
    bottom: 10px;

    li {
      button {
        &:before {
          color: #c4c4c4;
        }
      }

      &.slick-active {
        button {
          &:before {
            color: $btn-bg-color;
          }
        }
      }
    }
  }
}

.vision {
  display: flex;
  align-items: flex-start;
  margin: 100px 0;

  h1 {
    text-transform: uppercase;
    flex-basis: 30%;
    font-size: 3rem;
    line-height: 1.125;
    color: $heading-text-color;
    margin-top: 0;
  }

  .vision_content {
    flex-basis: 70%;
    color: $text-color;
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.prize-cat {
  display: flex;
  padding: 80px;
  background-color: $section-bg-color;

  .content-promo {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    .content-promo-item {
      max-width: 400px;
    }
    p {
      font-size: 1rem;
      line-height: 2.25;
    }
    .learn-more {
      color: $btn-bg-color;
      text-decoration: none;
      margin-top: 5%;
    }
    .list {
      li {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }
  .video-promo-with-thumb {
    flex-basis: 70%;
    position: relative;
    #content {
      position: absolute;
      top: 50%;
      left: 41%;
      transform: translate3d(0, 50%, 0);
      z-index: 2;
    }
    .vid {
      width: 55vw;
      object-fit: cover;
      z-index: 2;
      position: absolute;
      background-image: url(./img/videoPrm.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    #yt {
      display: none;
      z-index: 5;
    }
  }
}
.prize-council {
  display: flex;
  align-items: flex-start;
  margin: 100px 0;
  h1 {
    text-transform: uppercase;
    flex-basis: 30%;
    margin-top: 0;
  }

  .prize_council_content {
    flex-basis: 70%;
    color: $text-color;
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
}
.prodfessor {
  display: flex;
  margin-bottom: 100px;
  .professor_image_content {
    flex-basis: 70%;
    display: flex;
    align-items: flex-end;
    .professor_image {
      margin-right: 40px;
      &.sub {
        display: flex;
        flex-direction: column;
        transform: translate3d(0, 75px, 0);
        a {
          text-decoration: none;
          display: flex;
          align-items: flex-start;
          color: $heading-text-color;
          font-size: 1.5rem;
          line-height: 1.34;
          margin-top: 15px;
          max-width: 80%;
          &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: $btn-bg-color;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .professor_content {
    flex-basis: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    #content {
      z-index: 2;
    }
    .vid {
      width: auto;
      object-fit: cover;
      z-index: 2;
      position: absolute;
    }
    #yt {
      display: none;
    }
    .subtitle {
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.5;
      color: $heading-text-color;
      font-weight: normal;
      margin-bottom: 12px;
    }
    .title {
      text-transform: capitalize;
      font-size: 2.5rem;
      line-height: 1.05;
      color: $heading-text-color;
      font-weight: normal;
      margin: 0;
      max-width: 80%;
    }
    p {
      color: $text-color;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
      &.sort-desc {
        margin: 12px 0 24px 0;
      }
    }
    .video-promo-no-thumb {
      margin-top: auto;
    }
  }
}
.banner {
  background-image: url(./img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: $text-white;
    font-size: 3rem;
    line-height: 1.125;
    font-weight: normal;
    text-align: center;
  }
}
.science {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $section-bg-color;
  padding: 100px 0;
  .image_wp {
    padding-left: 10%;
    flex-basis: 40%;
    h1 {
      margin-top: 0;
    }
  }
  .content_wp {
    flex-basis: 60%;
    p {
      max-width: 80%;
    }
  }
  .social {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    .social-icon {
      width: 40px;
      height: 40px;
      background: red;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px 0 0 8px;
      cursor: pointer;
      span {
        color: $text-white;
      }
    }
  }
}
.insight {
  padding: 100px 80px 15px;
  margin-bottom: 85px;
  .insight-item {
    display: flex !important;
    .content {
      flex-basis: 50%;
      padding-left: 6%;
      h1 {
        font-weight: 400;
        max-width: 70%;
      }
      .subtitle {
        font-size: 2.5rem;
        line-height: 1.05;
        font-weight: 400;
        color: $heading-text-color;
      }
      p {
        max-width: 70%;
      }
    }
    .image_wp {
      padding-top: 160px;
      flex-basis: 50%;
    }
  }
  .slick-dots {
    .slick-active {
      button {
        &:before {
          color: $btn-bg-color;
        }
      }
    }
  }
}
.news_and_event {
  display: flex;
  align-items: center;
  .image_wp {
    flex-basis: 50%;
    h1 {
      margin-bottom: 50px;
      margin-left: 80px;
    }
  }
  .content_wp {
    flex-basis: 50%;
    .sub-info {
      p {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 400;
        color: #4d4d4d;
        text-transform: uppercase;
        margin: 0;
      }
    }
    h1 {
      font-size: 2.5rem;
      line-height: 1.05;
      font-weight: 400;
      text-transform: capitalize;
      max-width: 70%;
      margin-bottom: 32px;
    }
    .action-group {
      display: flex;
      div {
        margin-right: 15px;
      }
    }
  }
}
.calendar {
  display: flex;
  .title_calendar {
    flex-basis: 25%;
    background-color: $heading-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: $text-white;
      text-transform: capitalize;
      font-size: 2.5rem;
      line-height: 1.05;
      font-weight: normal;
    }
  }
  .ui-datepicker {
    width: 95%;
  }
  .calendar-picker {
    flex-basis: 25%;
  }
  .date {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/date_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.3;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    .day {
      color: $text-white;
      font-size: 14.5rem;
      line-height: 1;
      font-weight: normal;
      text-transform: capitalize;
      margin: 0;
      margin-left: 50px;
    }
    .month {
      font-size: 2.5rem;
      line-height: 1.05;
      font-weight: normal;
      text-transform: capitalize;
      color: $text-white;
      margin-left: 60px;
      margin-top: 0;
    }
  }
  .quote {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    flex-basis: 25%;
    background-color: $heading-text-color;
    p {
      color: #fff;
      margin-left: 35px;
      &.quote_text {
        max-width: 50%;
        margin-bottom: 0;
        margin-top: 85px;
      }
      &.time {
        margin-top: 15px;
      }
    }
    .action-group {
      display: flex;
      margin-left: 35px;
      div {
        margin-right: 20px;
        color: #fff;
      }
    }
  }

  .ui-widget-header {
    // background: $text-white;
    border: none;
  }
  .ui-datepicker-prev-hover {
    border-color: $heading-text-color;
  }
}
.newletter {
  display: flex;
  align-items: center;
  background-color: $section-bg-color;
  padding-top: 100px;
  padding-bottom: 100px;
  .title {
    flex-basis: 40%;
  }
  .newletter-form {
    flex-basis: 60%;
    .form-item {
      width: 90%;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: normal;
      input[type="text"] {
        padding: 7px 10px;
        border: 1px solid #343a40;
        width: 90%;
        margin-bottom: 20px;
      }
      .policy {
        color: $btn-bg-color;
      }
    }
    button {
      background: $btn-bg-color;
      width: 180px;
      height: 36px;
      border-radius: 24px;
      color: $text-white;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      margin-top: 24px;
    }
  }
}
footer {
  display: flex;
  background: url(./img/footerBg.jpg) no-repeat;
  background-size: cover;
  // min-height: 439px;
  padding: 100px 80px;
  .logo {
    flex-basis: 30%;
  }
  .menu-footer {
    flex-basis: 20%;
    ul {
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: $text-white;
          font-size: 1.5rem;
          line-height: 1.5;
          font-weight: 400;
          text-transform: capitalize;
          &:hover {
            color: $btn-bg-color;
          }
        }
      }
    }
  }
  .adress {
    flex-basis: 30%;
    .title {
      color: $text-white;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: normal;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    .subtitle {
      color: $text-white;
      font-size: 1rem;
      line-height: 1.5;
      text-transform: capitalize;
      font-weight: normal;
    }
    .address_detail {
      color: $text-white;
      font-size: 1rem;
      line-height: 1.5;
      text-transform: capitalize;
    }
    .social {
      margin-top: 70px;
      color: $text-white;
      display: flex;
      .social-item {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        &.facebook {
          background-color: #004FD4;
        }
        &.twitter {
          background: #3FDAEF;
        }
        &.linkedin {
          background: #3584B0;
        }
        &.tumblr {
          background: #3996AA;
        }
        &.reddit {
          background: #EF3F4C;
        }
      }
    }
  }
}